a.dpinblk.red.pad5(href='/loan?u=' + user.guid) 대출
a.dpinblk.red.pad5(href='/vessel?u=' + user.guid) 선박
a.dpinblk.red.pad5(href='/mission?u=' + user.guid) 임무
a.dpinblk.red.pad5(href='/port?u=' + user.guid) 항구
a.dpinblk.red.pad5(href='/?u=' + user.guid) 공지사항
a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 줄려 집에 보내줘
a.dpinblk.red.pad5(href='script:toggle_world_map()') 세계지도
a.dpinblk.red.pad5(href='script:toggle_world()') 월드