div.floatleft
  a.dpinblk.red.pad3(href='/idle?u=' + user.guid) 홈
  br
  a.dpinblk.red.pad3(href='/loan?u=' + user.guid) 대출
  br
  a.dpinblk.red.pad3(href='/vessel?u=' + user.guid) 선박
  br
  a.dpinblk.red.pad3(href='/mission?u=' + user.guid) 임무
  br
  a.dpinblk.red.pad3(href='/port?u=' + user.guid) 항구
  br
  a.dpinblk.red.pad3(href='/?u=' + user.guid) 공지사항
  br
  a.dpinblk.red.pad3(href='/HTMLPage1.html') 테스트
  br
  a.dpinblk.red.pad3(href='/newPortRegistered') 새 항구 등록
