html
  include ./includes/head.pug
  body.mar00.fwht.f1
    include ./includes/stat.pug

    a.dpinblk.red.pad5(href='/mission?u=' + user.guid) 임무 받기
    a.dpinblk.red.pad5(href='/?u=' + user.guid) 공지사항
    a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 줄려 집에 보내줘
