html
  head
    meta(charset='utf-8')
    title Transport Tycoon Lee
    style.
      body{background-color:white;}
  body
    center
      img(src='/ttl-title.png')
    hr
    center
      a(href='/idle?u=' + u) Transport Tycoon Lee
