html
  include ./includes/head.pug
  body
    br
    br
    br
    center
      img(src='/ttl-title.png')
    br
    br
    center
      h1
        a.dpinblk.red.pad5(href='/idle?u=' + user.guid) Transport Tycoon Lee
        a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 잘 안 되면 재부팅
        a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 불편을 끼쳐 죄송합니다.
        a.dpinblk.red.pad5(href='/idle?u=' + user.guid) 즐거운 시간 되세요 ^^
