html
  include ./includes/head.pug
  body.mar00.fwht.bsea.f1
    include ./includes/stat.pug
    include ./includes/topmenu.pug
    div.floatright
      div.alignright
        a.dpinblk.red.pad3(href='/purchase_new_port?u=' + user.guid + '&currentFirstKey=' + firstKey)
          | 새 항구
        a.dpinblk.red.pad3(href='/port?u=' + user.guid + '&lastKey=' + firstKey + '&currentFirstKey=' + firstKey)
          | 이전
        a.dpinblk.red.pad3(href='/port?u=' + user.guid + '&firstKey=' + lastKey + '&currentFirstKey=' + firstKey)
          | 다음
      table.blk
        //tr
          td 이름
          td 위치
          td 기능
        each row in rows
          tr
            td #{row.name}
            //td
              | #{row.x}
              br
              | #{row.y}
            td.nowrap
                a.dpinblk.red.pad3(href='/sell_port?u=' + user.guid + '&r=' + row.region_id + '&currentFirstKey=' + firstKey) 매각
                a.dpinblk.red.pad3(href='script:worldmap_scroll_to_int('+row.x+','+row.y+')') 보기
                a.pad3.tc.dpinblk.wblue(href='script:select(\'port\','+row.region_id+')') 선택
